.hide {
    display: none;
}

/* #image {
    background-image: url("/images/egypt.jpg");
} */

.moving-down{
    margin-top: 120px;
}

.moving-up{
    margin-bottom: -15px;
}

.moving-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.blockquote h1{
  font-size: 100px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-shadow: 2px 2px white;
}

.blockquote-footer p{
    font-size: 25px;
    font-family: cursive;
    color:white;
    text-shadow: 2px 2px rgb(119, 5, 5);
   }

/* add recommendations dropdown css */
#recommendations{
    position: absolute;
    z-index: 3;
    background-color: white;
    color: black;
    font-size: large;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.overline {
    border-top: 1px solid black;
    width: 100%;
}

#manual-search{
    background:white;
}

/* css for results div */
#search-results-all{
    background-color: white;
    color: black;
    font-size: large;
}

/* loading while API loads results... */
#spinner {
    color: whitesmoke;
    left: 50%;
    position: relative;
    top: 0%;
    visibility: hidden;
    z-index: 1;
}

.result-head{
    display: inline-block
}

.results{
    /* display: inline-block; */
    width: 100%;
    border-bottom: 1px gray solid;
    padding: 2px;
}

