.hide {
    display: none;
}

/* #image {
    background-image: url("/images/egypt.jpg");
} */

.moving-down {
    margin-top: 120px;
}

#home {
    background-color: lightgreen;
}

#features {
    background-color: aqua;
}

#pricing {
    background-color: blue;
}

#disabled {
    background-color: darkmagenta;
}