body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden; 
    /* background: linear-gradient(45deg,black, gray, blue) */
    background-image: url("../images/egypt.jpg");
}

* {
    box-sizing: inherit;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    min-height: 110vh;
}

/* enabler for UX and transitiosn between pages */
.hide {
    display: none !important;
}

/* spread */
.x-spread{
    width: 100%;
}

/* for moving and positioning elements */
.moving-down {
    margin-top: 80px;
}

.moving-up {
    margin-bottom: -15px;
}

.moving-right{
    margin-left: 25px;
}

.moving-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

/* closes results/ going back */
.close-results{
    border-radius: 50%;
    border: none;
    margin: 15px;
}

/* main Text "Hodophile" */
.blockquote h1 {
    font-size: 100px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-shadow: 2px 2px white;
}

/* second main text  */
.blockquote-footer p {
    font-size: 25px;
    font-family: cursive;
    color: white;
    text-shadow: 2px 2px rgb(119, 5, 5);
}

/* round button edges */
.round-edges{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* add recommendations dropdown css */
#recommendations {
    position: absolute;
    z-index: 100;
    background-color: white;
    color: black;
    font-size: large;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: -205px;
    padding: 5px;
    cursor: pointer;
}

.recommendation-item:hover {
    background-color: #1b1d1d;
    text-decoration: none;
    cursor: pointer;
    z-index: 101;
}

.recommendation-item:hover {
    background-color: rgb(215, 194, 194);
}

/* draw line ontop container */
.overline {
    border-top: 1px solid black;
    width: 100%;
}

#manual-search,
#auto-search {
    background: white;
}

/* css for results div */
#city-results-all,
#search-results-all,
#weather-results-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: large;
    padding-bottom: 15px;
    padding-top: 25px;
    margin-bottom: 15px;
}

.weather-results-all {
    margin-bottom: 20px;
}

/* components for weather and buttons */
.sticky,
.weather-button {
    max-width: 155px;
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: 30px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 20px;
    background: #99ccd9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #1b1d1d;
  }
.sticky:hover,
.weather-button:hover {
background: lightsalmon;
color: #293030;
}

.weather-button a {
    text-decoration: none;
    color: inherit;
}

.sticky{
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    z-index: 20;
    margin-left: 0px;
    height: 140px;
    width: 40px;
    writing-mode: vertical-rl;
    text-orientation: mixed;

}
.sticky a{
    text-orientation: inherit;
    color: rgb(35, 33, 33);
}

/* loading while API loads results... */
#spinner {
    color: black;
    left: 50%;
    position: relative;
    top: 0%;
    visibility: hidden;
    z-index: 200;
}

/* css for hotel recommendations */
#cities-heading,
#results-heading,
#weather-heading {
    border: #1b1d1d solid 2px;
    border-radius: 20px;
    background-color: #e5efef;
    padding-bottom: 2px;
}

.result-head {
    display: flex;
    align-self: center;
    /* justify-content: center; */
    justify-content: space-between;
    margin: 20px;
    width: 100%;
}

.result-head img{
    margin-top: 20px;
    border: solid 5px gray;
    border-radius: 8px;
    min-height: 100px;
}

.result-head img:hover{
    opacity: 0.85;
}

.results {
    display: inline-block;
    background-color: #99ccd9;
    width: 100%;
    border-bottom: 3px gray solid;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}
.results:hover {
    background: lightsalmon;
    color: #293030;
    cursor: pointer;
    }

.align-review{
    margin-top: 32px;
    margin-right: 30px;
}

.hotel-scores {
    min-height: 35px;
    background: linear-gradient(35deg, blue 25%, purple 65%);
    font-size: 15px;
    border: gold 2px solid;
    border-radius: 10px;
    padding: 4px;
    font-weight: 500;
    color: white;
}

.force-inline {
    display: table-cell
}

/* css for auto ops: city images */

.city-images{
    margin-top: 30px;
    border: black solid 4px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.city-images-divs{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 12px;
}
.city-images-divs:hover{
    opacity: 0.85;
    cursor: pointer;
}

#search-cities-1,
#search-cities-2{
    margin-bottom: 30px;
}

/* recommendations: hotel name-to-link css */
.hotel-name {
    color: inherit;
    text-decoration: none;
}

.hotel-name:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

/* main-logo1 */
.logo {
    height: 60px;
}

/* properties of "odophile" */
.main-text {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    background-size: 100%;
    background-clip: text;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg,
            #CA4246 16.666%,
            #E16541 16.666%,
            #0f96fd 33.333%,
            #F18F43 33.333%,
            #06f616 50%,
            #f05f0c 50%,
            #c2f812 66.666%,
            #e4f66d 66.666%,
            #07f4f4 83.333%,
            #fc0307 83.333%);

    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

/* :hover effect of odophile */
.main-text:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }

    40% {
        background-size: 650%;
    }

    100% {
        background-size: 100%;
    }
}

/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }

    80% {
        background-size: 650%;
    }

    100% {
        background-size: 650%;
    }
}

/* All things nav: Image of navbar */
.navbar-nav {
    width: 100%;
    margin-left: auto;
    padding-right: 15px;
    background-color: #1b1d1d;
    max-width: fit-content;
    border-radius: 10px;
}


.navbar {
    background-image: url("../images/black.jpg");
    background-size:cover;
    height: 60px;
}


.nav-link{
    color:rgb(235, 232, 232);
}



/* footer section start */
footer{
    color: whitesmoke;
    /* display: block;
	box-sizing:border-box; */
	font-size:14px;
	background: #fff;
	overflow-x:hidden;
	font-family:'Times New Roman', Times, serif;
    
}

h3{
    text-align: left;
    border-bottom:2px solid white;
    width: 120px;
    font-size: 20px;
}

/* footer image added */
#footer{
	padding-top: 10px;
    padding-bottom: 0px;
	background-image: url(../images/black.jpg);
    background-size:cover;
}

/* Footer image properties */
.logo-footer-img{
    height: 200px;
    display: flex;
    margin-left: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    padding-top: 10px;
  
    background-size: contain;
}

.copy-right-sec{
    background-color: #9caaaa;
    max-width: 100%;
}


/*vertical line*/
/* .verticalLine {
    border-left: 2px solid rgba(6, 0, 33, 0.527);
    height:100px; 
    
  } */

/* About notes in footer */
  .footer-about{
    text-align: justify;
    font-size: 16px;
}

.footer-about{
    padding-top: 20px;
	padding-bottom: 5px;
	font-size: 20px;
    font-weight: 600;
}

#aboutUs-head,
#followUs-head{
    width: 50%;
    text-align: center;
}


/* heading follow us */
.social-links{
    padding-top: 20px;
	padding-bottom: 5px;
}

/* Properties of social icons - follow us */
.social-icon 
{
 /* position: relative; */
 display: flex;
 justify-content: center;
 padding-left: 1px;
 margin: 5px 0;

}

/* deleting listing property, color,display */
.social-icon__item
{
 list-style: none;
}

.social-icon__link {
 font-size: 40px;
 color:whitesmoke;
 margin: 0 10px;
 display: inline-block; 
 transition: 0.5s;
}

/* icon hover property - follow us -icons */
.social-icon__link:hover {
    color: #8d898994;
  transform: translateY(-10px);
}


/* Address Section */
/* address icons */
.fas{
    font-size: 20px;
}

/* Heading - Address */
.address h2{
    padding-top: 20px;
	padding-bottom: 5px;
	font-size: 20px;
    font-weight: 600;
}

/* properties of address icons */
.address__icon a{
    font-size: 16px;
    font-weight: 500;
	color: #ffffffd3;
}

/* full address */
.full-address p{
    padding-left: 30px;
   }

/* hover and list style -address */
.address__icon a:hover{
    opacity: 1;
}

.address__icon{
    list-style: none;
}

a{
    text-decoration:none;
  }
  
/* End of Footer Section*/



/* navbar links about us,contact us */
.nav-link-text{
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* -webkit-text-stroke:1px rgb(21, 20, 20); */
    padding-left: 20px;
    /* color: rgb(214, 241, 10); */
    /* text-shadow:1px 5px rgba(91, 90, 90, 0.422); */
}


/* .nav-link-text:hover{
    background-color:#bf5b0a ;
    border-radius: 25px;
    color: rgb(69, 3, 3);
    -webkit-text-stroke:1px rgba(25, 20, 20, 0.525);
     
  } */

#nb1-div{
    display: flex;
    justify-content: start;
    height: 200px;
    width: 200px;
    padding-left: 200px;
}